body {
    align-items: center;
    display: flex;
    flex-direction: row;
}
.box {
    text-align: center;
    width: 400px;

    border: 2px grey solid;
    margin: auto;
    margin-top: 100px;
}

input {
    display: flex;
    flex-direction: column;
    margin: 15px auto;
    padding: 10px;
}

button {
    display: flex;
    padding: 10px;
    margin: 50px auto;
}

button:hover, #bt:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
}